include ../../mixins/form

+formElement('text', 'media', 'Hash медиа', source.media)
.form-group.row
    .col-md-10.offset-sm-2
        if source.type == 'document' && link != ''
            a(href=link) Ссылка на документ
        if source.type == 'photo' && link != ''
            img(src=link style="width:300px")
        if source.type == 'audio' && link != ''
            audio(controls src=link)
        if source.type == 'video' && link != ''
            video(controls width="300" src=link)
