extends ../../layout/main

include ../../mixins/form

block variables
  - title = `Настройки`
  - bodyClass = 'settings'

block content
    .card-box
        a(href="https://core.telegram.org/bots/api#markdownv2-style" target="_blank") Правила оформления сообщений (MarkdownV2)

        .p-2
            form.form-horizontal(method='post')
                +formElement('textarea', 'welcomeText', 'Приветственное сообщение', settings.welcomeText)
                +formElement('textarea', 'goodbyeText', 'Сообщение в конце опроса', settings.goodbyeText)
                +formElement('text', 'beforeQuestionPause', 'Пауза между вопросами (сек)', settings.beforeQuestionPause)
                +formElement('text', 'beforeVariantsPause', 'Пауза перед вариантами (сек)', settings.beforeVariantsPause)
                +formElement('text', 'beforeSmilePause', 'Пауза перед смайлом (сек)', settings.beforeSmilePause)
                +formElement('text', 'beforeAnswerPause', 'Пауза перед текста ответа (сек)', settings.beforeAnswerPause)

                +button('submit', 'Сохранить')
