header(id="topnav")
    .navbar-custom
        .container-fluid
            .logo-box
                .logo.logo-light
                    h1 LearnBot
            .clearfix
    .topbar-menu
        .container-fluid
            div(id="navigation")
                ul.navigation-menu
                    li
                        a(href='/')
                            i.mdi.mdi-view-dashboard
                            | Панель управления
                    li
                        a(href='/questions')
                            i.mdi.mdi-help-circle
                            | Вопросы
                    li
                        a(href='/results')
                            i.mdi.mdi-forum
                            | Результаты
                    li
                        a(href='/users')
                            i.mdi.mdi-account-multiple
                            | Пользователи
                .clearfix
